﻿<div class="form-group">
    <div class="col-md-11">
        <label for="txt_cliente">Visita o Servicio con Cliente</label>
        <input type="text" class="form-control" id="txt_clienteTime" onkeyup="validateFieldEmptyIcon(this.id,'validate_clienteTime')" maxlength="50">
    </div>
    <div class="col-md-1">
        <br />
        <span id="validate_clienteTime"></span>
    </div>
</div>
