﻿<div class="form-group">
    <div class="col-md-11">
        <label for="txt_cliente">Supervisor/Jefe Directo que autorizo</label>
        <input class="form-control" type="text" id="CompensacionHoras" onkeyup="validateFieldEmptyIcon(this.id,'validate_compensacionHoras')" maxlength="50"/>
    </div>
    <div class="col-md-1">
        <br />
        <span id="validate_compensacionHoras"></span>
    </div>
</div>

