﻿<div class="form-group">
    <div class="col-md-11">
        <label for="HomeOffice">Supervisor/Jefe Directo que autorizo</label>
        <input class="form-control" type="text" id="HomeOffice" onkeyup="validateFieldEmptyIcon(this.id,'validate_HomeOffice')" maxlength="50"/>
    </div>
    <div class="col-md-1">
        <br />
        <span id="validate_HomeOffice"></span>
    </div>
</div>
