﻿<br />
<div class="col-md-12">
    @*<h4 class="h4">Hemos identificado que el día de hoy estas registrándote en otra ubicación, por favor nos compartes la razón</h4>*@
    <div class="alert alert-info" role="alert">
        <i class='fa fa-info-circle'></i> <span id="txt_mensajeLocation"></span> <i class="fa fa-map-pin"></i>
    </div>
    <div class="form-group">
        <label for="cmb_MotivoUbicacion">Motivo</label>
        <select class="form-control" id="cmb_MotivoUbicacion">
            <option value="0">Selecciona</option>
            @foreach (var i in ViewBag.LocationCatalog)
            {
                <option value="@i.Id">@i.NameReason</option>
            }
        </select>
        <div class="alert alert-warning" role="alert" id="div_alert_opcion_locacion">
            <i class='fa fa-info-circle'></i> <span id="txt_validacionOpcionLocation"></span>
        </div>
    </div>
</div>
