﻿<div class="form-group">
    <div class="col-md-11">
        <form id="formEntrada" enctype="multipart/form-data">
            <label for="fileBase">Comprobante Medico</label>
            <input type="file" name="file" id="file" class="form-control" />
            <textarea rows="10" style="width: 98%;display:none;" class="" id="contenido-archivo"></textarea>           
        </form>
    </div>
    <div class="col-md-1">
        <br />
        <span id="validate_archivoTime"></span>
    </div>
</div>

