﻿.contenedor {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1000px;
    margin: auto;
    background: #ccc;
}

.widget {
    width: 90%;
    height: 40%;
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
}

    .widget p {
        display: inline-block;
        line-height: 1em;
    }

.fecha {
    font-family: arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(0,0,0,.5);
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0,0,0,.5);
}

    .reloj .cajaSegundos {
        display: inline-block;
    }

    .reloj .ampm, .reloj .segundos {
        display: block;
        font-size: 1rem;
    }

.textFormatDate {
    font-size: x-large;
}

.textFormatHour {
    font-size: 60px;
}

.timeRegisterEntry {
    margin-left: 50px;
}

.timeRegisterDeparture {
    margin-left: 20px;
}

.even-more-custom-icon {
    font-size: 30px;
}

.border-div {
    border-width: thin;
}


textarea {
    resize: none;
}