﻿<div class="form-group">
    <div class="col-md-11">
        <label for="txt_nuevaAsignacion">Cliente</label>
        <input type="text" class="form-control" id="txt_nuevaAsignacion" onkeyup="validateFieldEmptyIcon(this.id,'validate_nuevaAsignacion')" maxlength="50">
    </div>
    <div class="col-md-1">
        <br />
        <span id="validate_nuevaAsignacion"></span>
    </div>
</div>

