﻿<div class="form-group">
    <div class="col-md-11">
        <label for="txt_otroMotivo">Otro Motivo</label>
        <textarea class="form-control" id="txt_otroMotivoLocation" onkeyup="validateFieldEmptyIcon(this.id,'validate_otroMotivoLocation')" maxlength="250"></textarea>
    </div>
    <div class="col-md-1">
        <br />
        <span id="validate_otroMotivoLocation"></span>
    </div>
</div>


