﻿<div class="form-group">
    <div class="col-md-11">
        <label for="txt_incidentePersonal">Incidente Personal</label>
        <textarea class="form-control" id="txt_incidentePersonal" onkeyup="validateFieldEmptyIcon(this.id,'validate_incidentePersonal')" maxlength="250"></textarea>
    </div>
    <div class="col-md-1">
        <br />
        <span id="validate_incidentePersonal"></span>
    </div>
</div>

