﻿<br />
<div class="col-md-12">
    @*<h4 class="h4">Hemos identificado que estas fuera del horario estándar de ingreso, por favor nos compartes el motivo</h4>*@
    <div class="alert alert-info" role="alert">
        <i class='fa fa-info-circle'></i> <span id="txt_mensajeTime"></span> <i class="fa fa-user-clock"></i>
    </div>
    <div class="form-group">
        <label for="cmb_MotivoHorario">Motivo</label>
        <select class="form-control" id="cmb_MotivoHorario">
            <option value="0">Selecciona</option>
            @foreach (var i in ViewBag.TimeCatalog)
            {
                <option value="@i.Id">@i.NameReason</option>
            }
        </select>
         <div class="alert alert-warning" role="alert" id="div_alert_opcion_time">
            <i class='fa fa-info-circle'></i> <span id="txt_validacionOpcionTime"></span>
        </div>
    </div>
</div>
     
