﻿<!-- bootstrap -->
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">*@
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />

<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>

<!----------------------- Widget Clock------------------------->

<div class="row">
    <div class="col-md-12">
        <a href="https://www.tasisoft.com/tasinet2/Portals/0/Repositorios/Manuales_Usuario/Manual%20de%20Usuario%20-%20Modulo%20Registro%20DNN.pdf" target="_blank">
            <i class="fa fa-download fa-3x"></i> Descargar Manual de Usuario
        </a>
    </div>
</div>
<br />

<div class="row col-md-12">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="widget">
            <div class="fecha">
                <p id="diaSemana" class="diaSemana textFormatDate"></p>
                <p id="dia" class="dia textFormatDate"></p>
                <p class="textFormatDate">de</p>
                <p id="mes" class="mes textFormatDate"></p>
                <p class="textFormatDate">del</p>
                <p id="anio" class="anio textFormatDate"></p>
            </div>
            <div class="reloj">
                <p id="horas" class="horas textFormatHour"></p>
                <p class="textFormatHour">:</p>
                <p id="minutos" class="minutos textFormatHour"></p>
                <p class="textFormatHour">:</p>
                <div class="cajaSegundos">
                    <p id="ampm" class="ampm"></p>
                    <p id="segundos" class="segundos"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center>
            <br />
            <div id="txt_messageBirthday">
                
            </div>
        </center>
    </div>
    <div class="col-md-2"></div>
</div>
<!----------------------- Widget Clock------------------------->

<div class="col-md-12">
    <br />
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row border border-primary rounded border-div">
            <div class="row">
                <div class="form-group">
                    <form id="form_entrar" enctype="multipart/form-data" method="post">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <p class="h5 timeRegisterEntry" style="color:black;"><i class="fa fa-fw fa-sign-in"></i>Entrada</p>
                                <p class="timeRegisterEntry" style="color:black;font-weight: bold;float:left;">@ViewBag.EntryTime</p>
                            </div>
                            <div class="col-md-4">
                                @{var entrada = (ViewBag.IsDisabledEntry == 0) ? "" : "disabled";}
                                <button type="button" id="btn_entrar" class="btn btn-success" style="float:left;height:60px;width:80px;" @entrada onclick="disabled=true"><i class="fa fa-fw fa-sign-in even-more-custom-icon"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <p class="h5 timeRegisterEntry" style="color:black;"><i class="fa fa-fw fa-sign-out"></i>Salida</p>
                            <p class="timeRegisterEntry" style="color:black;font-weight: bold;float:left;">@ViewBag.DepartureTime</p>
                        </div>
                        <div class="col-md-4">
                            @{var salida = (ViewBag.IsDisabledDeparture == 0) ? "" : "disabled";}
                            <button type="button" id="btn_salir" class="btn btn-danger" style="float:left;height:60px;width:80px;" @salida><i class="fa fa-fw fa-sign-out even-more-custom-icon"></i></button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="div_loading">
            <center>
                <img src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" />
            </center>
        </div>
        <br />
        <div class="col-md-12">
            <div id="message"></div>
        </div>
        <div id="div_MotivoHoraEntrada">
            <div class="col-md-12">
                @Html.Partial("_Shedule")
                <div id="VisitServiceClientTime">
                    @Html.Partial("_VisitServiceClientTime")
                </div>
                <div id="MedicalConsultation">
                    @Html.Partial("_MedicalConsultationTime")
                </div>
                <div id="PersonalIncident">
                    @Html.Partial("_PersonalIncidentTime")
                </div>
                <div id="CompensationHours">
                    @Html.Partial("_CompensationHoursTime")
                </div>
                <div id="OtherReason">
                    @Html.Partial("_OtherReasonTime")
                </div>
                <div class="col-md-12" id="div_mensajeValidacionHoraEntrada">
                    <div class="alert alert-warning" role="alert">
                        <i class='fa fa-info-circle'></i> <span id="mensajeValidacionHoraEntrada"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_MotivoUbicacion">
            <div id="col-md-12">
                @Html.Partial("_Location")
                <div id="NewAssignationLocation">
                    @Html.Partial("_NewAssignationLocation")
                </div>
                <div id="VisitServiceClientLocation">
                    @Html.Partial("_VisitServiceClientLocation")
                </div>
                <div id="HomeOfficeLocation">
                    @Html.Partial("_HomeOfficeLocation")
                </div>
                <div id="OtherReasonLocation">
                    @Html.Partial("_OtherReasonLocation")
                </div>
                <div class="col-md-12" id="div_mensajeValidacionUbicacion">
                    <div class="alert alert-warning" role="alert">
                        <i class='fa fa-info-circle'></i> <span id="mensajeValidacionUbicacion"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<div class="col-md-12">
    <label>Dirección IP:</label> <span id="txt_ip"></span>
    <br />
    <label>Ubicación:</label> <span id="txt_location"></span>
    <br />
</div>
<br />
<div class="col-md-12">
    <div class="alert alert-success" role="alert" id="div_alertsuccess">
        <span id="txt_mensajeEntradaRegistro"></span>
    </div>
</div>


    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------- CSS ------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->

    <link rel="stylesheet" href="~/DesktopModules/MVC/RegisterModule/Styles/main.css" />

    <!-------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------- JavaScript ---------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <script type="text/javascript" src="~/DesktopModules/MVC/RegisterModule/Scripts/form-send.js"></script>
    <script type="text/javascript" src="~/DesktopModules/MVC/RegisterModule/Scripts/main.js"></script>
    <!-- popper -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>*@
    <!-- bootstrap -->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>*@
